In [160]:
import pandas as pd
import numpy as np

In [161]:
ufo_sightings_large = pd.read_csv('ufo_sightings_large.csv')
ufo_sightings_large.head()

,date,city,state,country,type,seconds,length_of_time,desc,recorded,lat,long
0,11/3/2011 19:21,woodville,wi,us,unknown,1209600.0,2 weeks,Red blinking objects similar to airplanes or s...,12/12/2011,44.9530556,-92.291111
1,10/3/2004 19:05,cleveland,oh,us,circle,30.0,30sec.,Many fighter jets flying towards UFO,10/27/2004,41.4994444,-81.695556
2,9/25/2009 21:00,coon rapids,mn,us,cigar,0.0,NaN,Green&#44 red&#44 and blue pulses of light tha...,12/12/2009,45.1200000,-93.287500
3,11/21/2002 05:45,clemmons,nc,us,triangle,300.0,about 5 minutes,It was a large&#44 triangular shaped flying ob...,12/23/2002,36.0213889,-80.382222
4,8/19/2010 12:55,calgary (canada),ab,ca,oval,0.0,2,A white spinning disc in the shape of an oval.,8/24/2010,51.083333,-114.083333

### Checking column types

In [162]:
ufo_sightings_large.dtypes

date               object
city               object
state              object
country            object
type               object
seconds           float64
length_of_time     object
desc               object
recorded           object
lat                object
long              float64
dtype: object

In [163]:
ufo_sightings_large['date'] = pd.to_datetime(ufo_sightings_large['date'])
ufo_sightings_large.dtypes

date              datetime64[ns]
city                      object
state                     object
country                   object
type                      object
seconds                  float64
length_of_time            object
desc                      object
recorded                  object
lat                       object
long                     float64
dtype: object

### checking_missing_values

In [164]:
print((ufo_sightings_large.isnull().sum()/ufo_sightings_large.shape[0])*100)

date               0.000000
city               0.182371
state              8.490375
country           13.779129
type               3.221884
seconds            0.000000
length_of_time     2.897670
desc               0.060790
recorded           0.000000
lat                0.000000
long               0.000000
dtype: float64

In [165]:
ufo_sightings_large.shape

(4935, 11)

### Removing Missing Values

In [166]:
#ufo_no_missing = ufo_sightings_large[ufo_sightings_large["length_of_time"].notnull() & ufo_sightings_large["state"].notnull() & 
          #ufo_sightings_large["type"].notnull()]
#print(ufo_no_missing.shape)

### Categorical Variables and standardization

In [167]:
ufo_sightings_large["minutes"] = ufo_sightings_large["length_of_time"].str.extract("(\d+)", expand=True)
ufo_sightings_large[['length_of_time','minutes']].head()

    length_of_time minutes
0          2 weeks       2
1           30sec.      30
2              NaN     NaN
3  about 5 minutes       5
4                2       2

### Identifying features for standardization

In [168]:
ufo_sightings_large = ufo_sightings_large[ufo_sightings_large['minutes'].notnull() & ufo_sightings_large["length_of_time"].notnull() & ufo_sightings_large["state"].notnull() & 
          ufo_sightings_large["type"].notnull()]
ufo_sightings_large['minutes'] = ufo_sightings_large['minutes'].astype('int')

In [169]:
ufo_sightings_large.var()

seconds    3.155433e+09
long       4.125837e+02
minutes    9.173689e+02
dtype: float64

In [170]:
print(ufo_sightings_large[['seconds','minutes']].var())
ufo_sightings_large["seconds_log"] = np.log(ufo_sightings_large['seconds'])
print(ufo_sightings_large["seconds_log"].var())

seconds    3.155433e+09
minutes    9.173689e+02
dtype: float64
nan

C:\Users\ramle\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in log

In [171]:
ufo_sightings_large.dropna()

,date,city,state,country,type,seconds,length_of_time,desc,recorded,lat,long,minutes,seconds_log
0,2011-11-03 19:21:00,woodville,wi,us,unknown,1209600.0,2 weeks,Red blinking objects similar to airplanes or s...,12/12/2011,44.9530556,-92.291111,2,14.005800
1,2004-10-03 19:05:00,cleveland,oh,us,circle,30.0,30sec.,Many fighter jets flying towards UFO,10/27/2004,41.4994444,-81.695556,30,3.401197
3,2002-11-21 05:45:00,clemmons,nc,us,triangle,300.0,about 5 minutes,It was a large&#44 triangular shaped flying ob...,12/23/2002,36.0213889,-80.382222,5,5.703782
4,2010-08-19 12:55:00,calgary (canada),ab,ca,oval,0.0,2,A white spinning disc in the shape of an oval.,8/24/2010,51.083333,-114.083333,2,-inf
5,2012-06-16 23:00:00,san diego,ca,us,light,600.0,10 minutes,Dancing lights that would fly around and then ...,7/4/2012,32.7152778,-117.156389,10,6.396930
6,2009-07-12 21:30:00,duluth,mn,us,oval,600.0,total? maybe around 10 mi,A minor amber color trail&#44 (from where we w...,3/13/2012,46.7833333,-92.106389,10,6.396930
7,2008-10-20 18:30:00,fairfield,tx,us,other,0.0,several sightings from 10,Multiple sightings in Central Texas (Freestone...,1/10/2009,31.7244444,-96.165000,10,-inf
8,2013-06-09 00:00:00,oakville (canada),on,ca,light,120.0,2 minutes,Brilliant orange light or chinese lantern at o...,7/3/2013,43.433333,-79.666667,2,4.787492
9,2013-04-26 23:27:00,lacey,wa,us,light,120.0,2 minutes,Bright red light moving north to north west fr...,5/15/2013,47.0344444,-122.821944,2,4.787492
10,2013-09-13 20:30:00,ben avon,pa,us,sphere,300.0,5 minutes,North-east moving south-west. First 7 or so li...,9/30/2013,40.5080556,-80.083333,5,5.703782
11,2013-02-13 21:00:00,mcminnville,or,us,sphere,600.0,10 minutes,Large bright ball of light moving slowly.,2/18/2013,45.2102778,-123.197500,10,6.396930
12,2012-05-20 00:00:00,east sandwich,ma,us,rectangle,120.0,2 min,4 rectangle bright orange lights in sky in eas...,5/29/2012,41.7416667,-70.452222,2,4.787492
13,2011-06-02 22:05:00,auburn,wa,us,other,30.0,30 seconds,Last night I went out on my porch for a cigare...,6/3/2011,47.3075000,-122.227222,30,3.401197
16,2011-05-24 22:15:00,san leandro,ca,us,triangle,10.0,10 seconds,UFO San Leandro California,5/29/2011,37.7250000,-122.155000,10,2.302585
17,1993-05-15 02:30:00,florence,ms,us,fireball,5.0,5 sec,green fireball w/long tail came straight down&...,11/20/2002,32.1533333,-90.131111,5,1.609438
19,2008-09-22 17:40:00,springfield,or,us,light,60.0,1 min,Small Bright light moving across sector of sky...,1/10/2009,44.0463889,-123.020833,1,4.094345
20,1984-11-15 18:00:00,north platte,ne,us,other,300.0,5 minutes,UFO follows train tracks,11/28/2007,41.1238889,-100.765000,5,5.703782
21,2010-03-11 19:00:00,carlisle,pa,us,triangle,900.0,aprox. 15 min.,Triangle-shaped object above suburban area fly...,4/13/2010,40.2013889,-77.189167,15,6.802395
22,1931-02-15 14:00:00,holyoke (6-8 miles southwest of),co,us,oval,60.0,1minute,In the winter of 1931&#44 I saw a flying machi...,6/18/2004,40.5844444,-102.301944,1,4.094345
23,1999-12-09 21:50:00,scottsdale,az,us,changing,120.0,2 minutes,At 10 minutes to 10 PM on 12/9/99 in Scottsdal...,12/16/1999,33.5091667,-111.898333,2,4.787492
25,2010-10-27 18:20:00,new kent county,va,us,disk,180.0,3 min,Ojects over the trees on interstate 64,1/5/2011,37.5175000,-76.979167,3,5.192957
26,1999-02-02 06:39:00,rancho cucamonga,ca,us,fireball,10.0,10 sec.,Bright fireball that seemed to stay stationary...,2/16/1999,34.1063889,-117.592222,10,2.302585
28,2002-06-13 22:15:00,hayward,ca,us,circle,600.0,5 or 10 min.,My kids and I witnessed a round black object i...,1/17/2004,37.6688889,-122.079722,5,6.396930
29,2006-04-24 00:36:00,dallesport,wa,us,changing,2400.0,40 min.,egg-shaped UFO in south central Washington loo...,5/15/2006,45.6175000,-121.178333,40,7.783224
30,2008-03-27 21:35:00,raleigh,nc,us,triangle,15.0,15 seconds,Large triangle shaped object with 2 lights fly...,3/31/2008,35.7719444,-78.638889,15,2.708050
32,1972-08-20 19:00:00,milwaukie,or,us,light,300.0,5:00,An unseen&#44 low-flying object was emitting a...,11/28/2007,45.4463889,-122.638056,5,5.703782
33,2012-11-13 18:00:00,lewistown,mt,us,fireball,300.0,5 minutes,Orange glow object in Central Montana,11/19/2012,47.0625000,-109.427500,5,5.703782
35,2000-07-07 01:45:00,frederick,md,us,sphere,300.0,5 minutes,Bright metalic sphere rotating fast in a circu...,5/15/2013,39.4141667,-77.410833,5,5.703782
36,1966-08-28 00:00:00,grovertown,in,us,cigar,10.0,10 sec,did i see rockets flying over my house,12/23/2002,41.3750000,-86.504722,10,2.302585
37,2014-02-22 18:55:00,virginia beach,va,us,circle,2.0,2 seconds,One bright traveling light splits into two in ...,2/27/2014,36.8527778,-75.978333,2,0.693147
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4895,2007-11-28 09:15:00,austin,tx,us,oval,60.0,1 minute,Two small oval objects over a neighborhood,1/21/2008,30.2669444,-97.742778,1,4.094345
4896,2012-08-12 22:45:00,keansburg,nj,us,fireball,180.0,3 minutes,Silent object glowing orange gradually falls a...,8/30/2013,40.4416667,-74.130278,3,5.192957
4897,2008-04-04 21:30:00,durand,mi,us,light,2700.0,45min,04/04/08 object sighted moving from west to ea...,4/17/2008,42.9119444,-83.984722,45,7.901007
4899,2003-04-20 14:00:00,vernon (canada),bc,ca,unknown,1800.0,30 minutes,HBCCUFO CANADIAN REPORT: Lights were on the g...,8/28/2003,46.183333,-62.883333,30,7.495542
4901,2000-01-01 17:00:00,medford,or,us,formation,300.0,5 mins,the quick flash of an object that looked like ...,8/5/2001,42.3266667,-122.874444,5,5.703782
4905,2005-10-07 20:00:00,isle of palms,sc,us,sphere,600.0,10 minutes,Me and some family were visiting some of my ot...,10/11/2005,32.7866667,-79.795000,10,6.396930
4906,2003-07-11 02:00:00,madill,ok,us,light,900.0,15 minutes,A bright stationary light in the ski and physi...,7/16/2003,34.0902778,-96.771389,15,6.802395
4907,2005-10-02 02:00:00,edina,mn,us,formation,5.0,3-5 seconds,Triangle Formation,10/11/2005,44.8897222,-93.349722,3,1.609438
4908,2013-08-12 05:00:00,utica,ny,us,changing,7200.0,2 hours,There were blinking red and blue lights&#44 an...,8/30/2013,43.1008333,-75.233056,2,8.881836
4910,2007-07-10 22:30:00,redington beach,fl,us,circle,600.0,10 minutes,Small white circle flying faster than an airpl...,10/8/2007,27.8083333,-82.811389,10,6.396930
4911,1999-12-14 07:45:00,santa cruz,ca,us,light,30.0,30 seconds,I was looking at the North Western skies at ap...,12/16/1999,36.9741667,-122.029722,30,3.401197
4912,2000-03-24 18:00:00,ionia,mi,us,oval,30.0,30 seconds,I saw an oval shaped metallic disk hovering in...,4/15/2000,42.9872222,-85.071111,30,3.401197
4914,2011-12-01 07:30:00,bemidji,mn,us,circle,120.0,2 min,Red light over bemidji mn slowly moving east,12/12/2011,47.4736111,-94.880000,2,4.787492
4915,2014-01-01 21:00:00,great falls,mt,us,sphere,30.0,30 seconds,Observes 2 orange spheres flying North over Gr...,1/10/2014,47.5002778,-111.300000,30,3.401197
4916,1999-08-09 20:18:00,yakima (about 10-30 miles nw of),wa,us,fireball,180.0,about 2-3 minutes (we lef,Comet-like object&#44 high in sky&#44 set at \...,8/5/2001,46.6022222,-120.504722,2,5.192957
4917,1969-04-21 16:30:00,little rock,ar,us,cylinder,720.0,12 minutes,Non moving&#44 soundless &#44 tri-cylinder&#44...,11/9/2002,34.7463889,-92.289444,12,6.579251
4918,2004-08-16 02:00:00,san bernardino,ca,us,oval,3600.0,1 hour,We observed four lit up objects which appeared...,8/24/2004,34.1083333,-117.288889,1,8.188689
4921,2002-08-16 19:45:00,eastport,me,us,light,10800.0,3 hours,Orbs of light watching me.,7/3/2013,44.9061111,-66.990556,3,9.287301
4922,1999-01-25 01:15:00,san francisco (ocean side of),ca,us,sphere,240.0,4 minutes,Moon shaped&#44 reddish-orange sphere (sligtly...,2/16/1999,37.7750000,-122.418333,4,5.480639
4923,2007-02-11 19:25:00,oxnard,ca,us,light,4.0,2-4 seconds,Strange light seen above South Oxnard,2/24/2007,34.1975000,-119.176111,2,1.386294
4924,2011-11-16 20:13:00,miami,fl,us,unknown,20.0,20 seconds,Triangular formation that disburses.,12/12/2011,25.7738889,-80.193889,20,2.995732
4925,2006-12-16 07:20:00,elizabethtown,ky,us,light,3.0,3 seconds,Bright blue almost LED type light transversing...,2/1/2007,37.6938889,-85.859167,3,1.098612
4926,2002-08-20 23:10:00,noxon,mt,us,unknown,2700.0,45 minutes,Large craft spotted in Northwest Montana,8/28/2002,47.9961111,-115.780556,45,7.901007
4927,2013-07-04 21:00:00,wilmington,nc,us,oval,300.0,5 minutes,Two lit &quot;Crafts&quot; fly over &#44 witne...,9/9/2013,34.2255556,-77.945000,5,5.703782
4928,2008-11-10 00:30:00,uniontown,oh,us,changing,180.0,3 minutes,11/10/08 0:30/ Uniontown Ohio/Shape Round/Dur...,1/10/2009,40.9750000,-81.408333,3,5.192957
4929,1998-06-25 22:18:00,las cruces,nm,us,circle,180.0,3 minutes,My father and i were driving home from El Paso...,11/21/1998,32.3122222,-106.777778,3,5.192957
4930,2000-07-05 19:30:00,schnecksville,pa,us,oval,5.0,about 5 seconds,On my bike when i saw a shiny silver oval not ...,7/11/2000,40.6677778,-75.607500,5,1.609438
4931,2008-03-18 22:00:00,gibson,ga,us,triangle,25.0,25 seconds,Three sided stationary object turning clockwi...,3/31/2008,33.2333333,-82.595556,25,3.218876
4933,1991-11-01 03:00:00,niles,mi,us,triangle,7200.0,2 hours,Triangle zigzagged. Another shined light on u...,9/2/2005,41.8297222,-86.254167,2,8.881836
4934,2005-12-10 18:00:00,phoenix,az,us,other,60.0,1 minutes,Close encounter of the third kind.,12/20/2012,33.4483333,-112.073333,1,4.094345

In [172]:
ufo_sightings_large.head()

,date,city,state,country,type,seconds,length_of_time,desc,recorded,lat,long,minutes,seconds_log
0,2011-11-03 19:21:00,woodville,wi,us,unknown,1209600.0,2 weeks,Red blinking objects similar to airplanes or s...,12/12/2011,44.9530556,-92.291111,2,14.005800
1,2004-10-03 19:05:00,cleveland,oh,us,circle,30.0,30sec.,Many fighter jets flying towards UFO,10/27/2004,41.4994444,-81.695556,30,3.401197
3,2002-11-21 05:45:00,clemmons,nc,us,triangle,300.0,about 5 minutes,It was a large&#44 triangular shaped flying ob...,12/23/2002,36.0213889,-80.382222,5,5.703782
4,2010-08-19 12:55:00,calgary (canada),ab,ca,oval,0.0,2,A white spinning disc in the shape of an oval.,8/24/2010,51.083333,-114.083333,2,-inf
5,2012-06-16 23:00:00,san diego,ca,us,light,600.0,10 minutes,Dancing lights that would fly around and then ...,7/4/2012,32.7152778,-117.156389,10,6.396930

### Feature_Engineering

### Encoding categorical variables

In [173]:
ufo_sightings_large['country'].unique()

array(['us', 'ca', nan, 'au'], dtype=object)

In [174]:
ufo_sightings_large["country_enc"] = ufo_sightings_large["country"].apply(lambda val: 1 if val == "us" else 0)

In [175]:
type_set = pd.get_dummies(ufo_sightings_large["type"])

# Concatenate this set back to the ufo DataFrame
ufo = pd.concat([ufo_sightings_large, type_set], axis=1)

### Features from dates

In [176]:
print(ufo['date'].head())
ufo["month"] = ufo["date"].apply(lambda row: row.month)
ufo["year"] = ufo["date"].apply(lambda row: row.year)
print(ufo[['date', 'month','year']].head())

0   2011-11-03 19:21:00
1   2004-10-03 19:05:00
3   2002-11-21 05:45:00
4   2010-08-19 12:55:00
5   2012-06-16 23:00:00
Name: date, dtype: datetime64[ns]
                 date  month  year
0 2011-11-03 19:21:00     11  2011
1 2004-10-03 19:05:00     10  2004
3 2002-11-21 05:45:00     11  2002
4 2010-08-19 12:55:00      8  2010
5 2012-06-16 23:00:00      6  2012

### Text vectorization

In [177]:
from sklearn.feature_extraction.text import TfidfVectorizer
# Create the tfidf vectorizer object
vec = TfidfVectorizer()

# Use vec's fit_transform method on the desc field
desc_tfidf = vec.fit_transform(ufo['desc'])

# Look at the number of columns this creates
print(desc_tfidf.shape)

(3980, 5472)

In [178]:
ufo.columns

Index(['date', 'city', 'state', 'country', 'type', 'seconds', 'length_of_time',
       'desc', 'recorded', 'lat', 'long', 'minutes', 'seconds_log',
       'country_enc', 'changing', 'chevron', 'cigar', 'circle', 'cone',
       'cross', 'cylinder', 'diamond', 'disk', 'egg', 'fireball', 'flash',
       'formation', 'light', 'other', 'oval', 'rectangle', 'sphere',
       'teardrop', 'triangle', 'unknown', 'month', 'year'],
      dtype='object')

### Feature Selection

### Selecting the ideal dataset

In [179]:
print(ufo[['seconds','seconds_log','minutes']].corr())

              seconds  seconds_log   minutes
seconds      1.000000     0.165801 -0.009954
seconds_log  0.165801     1.000000  0.109269
minutes     -0.009954     0.109269  1.000000

In [183]:
# Make a list of features to drop   
to_drop = ["city", "country", "date", "desc", "lat", "length_of_time","type", "long", "minutes","seconds","recorded", "seconds", "state"]

# Drop those features
ufo_dropped = ufo.drop(to_drop, axis=1)

# Let's also filter some words out of the text vector we created
#filtered_words = words_to_filter(vocab, vec.vocabulary_, desc_tfidf, 4)

### Modelling

    - Modeling the UFO dataset, part 1
    - we're going to build a k-nearest neighbor model to predict which country the UFO sighting took place in.

In [184]:
X = ufo_dropped.drop(['country_enc'],axis = 1)
# Take a look at the features in the X set of data
print(X.columns)
y = ufo_dropped[['country_enc']]

Index(['seconds_log', 'changing', 'chevron', 'cigar', 'circle', 'cone',
       'cross', 'cylinder', 'diamond', 'disk', 'egg', 'fireball', 'flash',
       'formation', 'light', 'other', 'oval', 'rectangle', 'sphere',
       'teardrop', 'triangle', 'unknown', 'month', 'year'],
      dtype='object')

In [ ]:
# Split the X and y sets using train_test_split, setting stratify=y
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X,y,stratify = y)

# Fit knn to the training sets
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(train_X,train_y)

# Print the score of knn on the test sets
print(rf.score(test_X,test_y))